{{#each channels}}
  <li class="channels-list-item">
    <label class="target toggle-channel" channel-index="{{@index}}">
      <input type="checkbox" />
      <svg aria-hidden="true" class="unchecked">
        <use href="#icon-show" fill="#fff"></use>
      </svg>
      <svg aria-hidden="true" class="checked">
        <use href="#icon-hide" fill="#fff"></use>
      </svg>
    </label>
    <label class="target pin-channel" channel-index="{{@index}}">
      <input type="checkbox" />
      <svg aria-hidden="true" class="rotate smaller">
        <use href="#icon-pin" fill="#fff"></use>
      </svg>
    </label>
    <span class="channel-name">{{name}}</span>
  </li>
{{/each}}