{{#each channels}}
  <li class="channels-list-item">
    <button class="toggle-channel"></button>
    <button class="pin-channel"></button>
    <span class="channel-name">{{name}}</span>
  </li>
{{/each}}