<div id="extra-features">
  <h3>Extra features:</h3>
  <div id="extra-features-controls">
    <label><input id="xf-toggle-grid" type="checkbox" />Toggle grid behind
      graphs</label>
    <label><input id="xf-area-zoom" type="checkbox" />Toggle area zoom</label>
    <button id="xf-save-montage" class="button small">
      Save current view as montage
    </button>
  </div>
  <h4>Channels:</h4>
  <div>
    <ul id="channels-list"></ul>
  </div>
</div>