<div id="extra-features">
  <h3>Extra features:</h3>
  <div id="extra-features-controls">
    <label><input id="xf-toggle-grid" type="checkbox" />Toggle grid behind
      graphs</label>
    <label><input id="xf-area-zoom" type="checkbox" />Toggle area zoom</label>
    <label><input id="xf-extrapolation" type="checkbox" />Toggle extrapolation</label>
    <label><input id="xf-toggle-hotkeys" type="checkbox" />Toggle hotkeys<div
        onclick="event.preventDefault()"
        class="show-when-checked"
      ><kbd>← Left</kbd> and <kbd>Right →</kbd></div></label>
    <label><input id="xf-toggle-events" type="checkbox" />Toggle events<div
        onclick="event.preventDefault()"
        class="show-when-checked"
      >Hold <kbd>CTRL</kbd> or <kbd>CMD ⌘</kbd> and click</div></label>
    <label id="label-zoom-based-data"><input
        id="xf-toggle-zoom-based-data"
        type="checkbox"
      />Toggle zoom-based data</label>
    <button id="xf-save-montage" class="button small">
      Save current view as montage
    </button>
    {{! <button id="xf-add-event" class="button small">
      Add event
    </button> }}
  </div>
  <h4>Channels:</h4>
  <div>
    <ul id="channels-list"></ul>
  </div>
</div>