<div id="extra-features">
  <h3>Extra features:</h3>
  <div id="extra-features-controls">
    <label><input id="xf-toggle-grid" type="checkbox" />Toggle grid behind
      graphs</label>
    <label><input id="xf-area-zoom" type="checkbox" />Toggle area zoom</label>
    <label><input id="xf-extrapolation" type="checkbox" />Toggle extrapolation</label>
    <label><input id="xf-toggle-hotkeys" type="checkbox" />Toggle hotkeys</label>
    <label><input id="xf-toggle-events" type="checkbox" />Toggle events</label>
    <button id="xf-save-montage" class="button small">
      Save current view as montage
    </button>
    {{! <button id="xf-add-event" class="button small">
      Add event
    </button> }}
  </div>
  <h4>Channels:</h4>
  <div>
    <ul id="channels-list"></ul>
  </div>
</div>