body {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  /* margin-top: 60px; */
  display: flex;
  align-items: stretch;
  height: 100vh;
  padding: 0 15px;
  margin: 0;
  color: #2c3e50;
}

#toolbar {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
  padding: 0 1rem;
}

.toolbar-main {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 1rem;
}

#chart-header {
  display: inline-block;
  position: relative;
  height: 60px;
  margin: 0;
  line-height: 60px;
}

#chart {
  flex-grow: 1;
  /* margin: 0 auto; */
}

.toolbar-item {
  margin: 0 auto;
}

.toolbar-item.slider {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
}

.toolbar-item > label,
.toolbar-item > span {
  align-self: baseline;
}

.labeled-range {
  display: flex;
  width: 14rem;
  margin-left: -2rem;
}

.labeled-range > input {
  flex-shrink: 0;
  flex-grow: 1;
}

.range-label {
  width: 2rem;
  flex-shrink: 0;
}

.button {
  padding: 0.5rem 1rem;
  background: #0075ff;
  color: white;
  border-radius: 2rem;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.button:hover {
  background: #03a9f4;
}

.button.on {
  background: #03a9f4;
}

.button.small {
  padding: 0.1rem 0.5rem;
  font-size: 0.9rem;
  margin: 0.5rem auto;
}

#renderers {
  display: none;
}

#renderers.show {
  display: block;
}

#renderers > .button {
  display: inline-block;
  margin: 0.7rem;
}

#chart-header.show-loader::before {
  content: "";
  display: inline-block;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.5s linear infinite;
  position: absolute;
  top: 15px;
  left: -36px;
}

#chart-header.show-loader::after {
  animation: dotty steps(1, end) 1s infinite;
  content: "";
  position: absolute;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 90px;
  text-align: left;
  white-space: nowrap;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dotty {
  0% {
    content: "Generating data";
  }
  25% {
    content: "Generating data.";
  }
  50% {
    content: "Generating data..";
  }
  75% {
    content: "Generating data...";
  }
  100% {
    content: "Generating data";
  }
}

.highlight-flash {
  animation: higlight-flash 1s ease-in-out 0s;
}
@keyframes higlight-flash {
  from {
    background: #f96;
  }
  to {
    background: transparent;
  }
}

#extra-features {
  display: none;
}

#extra-features.show {
  display: block;
}

#extra-features > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input[type="checkbox"] {
  margin: 0 0.5rem 0 0;
}

h4 {
  margin: 1rem auto 0;
  font-size: 1.17em;
}

#channels-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  text-align: start;
}

.channels-list-item {
  display: flex;
  align-items: center;
}

.channels-list-item > label,
.button.montage > .close-button {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  border: none;
  background: none;
  color: white;
  position: relative;
  top: -1px;
  margin-right: 0.3rem;
  border-radius: 3px;
  overflow: hidden;
}

.channels-list-item > label > input {
  visibility: hidden;
  position: absolute;
}

.channels-list-item > label > svg,
.button.montage > .close-button > svg {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #0075ff;
}
.channels-list-item > label > svg:hover,
.button.montage > .close-button > svg:hover {
  background: #03a9f4;
}
.channels-list-item > label > svg.checked {
  visibility: hidden;
}
.channels-list-item > label > input:checked ~ svg {
  background: #03a9f4;
}
.channels-list-item > label > input:checked ~ svg.checked {
  visibility: visible;
}
.channels-list-item > label > input:checked + svg.unchecked {
  visibility: hidden;
}
.channels-list-item > label > input:checked + svg.rotate {
  transform: rotate(90deg);
}
.channels-list-item > label > svg.smaller > use {
  transform: scale(0.7);
  transform-origin: center;
}

#montages-list {
  position: sticky;
  top: 0;
  margin: 0;
  padding-top: 1rem;
  padding-left: 0;
}

#montages-list > li {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto auto 0.5rem 1rem;
  padding: 0px;
  width: 60px;
  height: 60px;
  font-size: 0.8rem;
  border-radius: 1rem;
}

.button.montage {
  position: relative;
}

.button.montage > .close-button {
  display: none;
  position: absolute;
  top: -0.4rem;
  right: -0.7rem;
}

.button.montage:hover > .close-button {
  display: block;
}
